<% if(typeof error != 'undefined') { %>
	<h3><font color="red">Invalid Email or password. Please try again.</h3>
<% } else if(typeof noInput != 'undefined') { %>
	<h3><font color="red">Please fill out form to login</h3>
<% } %>