<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar7">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
             </a>
          </div>

        <div id="navbar7" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li id="navHome" class="nav-item"><a href="/">Home</a></li>
                <li id="navSell" class="nav-item"><a href="/sell">Sell</a></li>
                <!-- <li id="navSupport" class="nav-item"><a href="">Support</a></li>
                <li id="navAbout" class="nav-item"><a href="">About</a></li> -->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!-- req will be passed via res.render for every page in order for this part of the navbar to work -->
                <% if(req != null) { %>
                    <li id="navLogStatus" class="nav-item"><a href="/logout">Logout</a></li>
                <% } else if(req == null) { %>
                    <li id="navLogStatus" class="nav-item"><a href="/loginPage">Login</a></li>
                    <li id="navRegister" class="nav-item"><a href="/registerPage">Register</a></li>
                <% } %>
            </ul>
        </div>
  <!--/.nav-collapse -->
    </div>
<!--/.container-fluid -->
  </nav>