<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar7">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
             </a>
          </div>

        <div id="navbar7" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/sell">Sell</a></li>
                <li><a href="">Support</a></li>
                <li><a href="">About</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                   <li class=""><a href="/loginPage">Login</a></li>
                   <li class=""><a href="/logout">Logout</a></li>
                   <li class=""><a href="/registerPage">Register</a></li>
            </ul>
        </div>
  <!--/.nav-collapse -->
    </div>
<!--/.container-fluid -->
  </nav>


