.search-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

body {
    background-image: url("/assets/images/funky-lines.png");
    background-repeat: repeat;
    font-family: 'Ubuntu', sans-serif;
    text-align: justify;
    text-justify: inter-word;
    margin-top: 75px
}

#maroon {
    color: #800000;
}

#navy {
    color: #000080;
}

.jumbotron {
    width: 80%;
    margin: auto;
    padding: 0% 5% 2% 5%;
    border-radius: 10px;
    box-shadow: 5px 5px 20px gray;
    background-color: white;
}  

.col-sm-8 {
    text-align: center;
}

#logo {
    width: 80%;
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    /* opacity: 0.5; */
}

@media (max-width: 768px) {
    .shrinkHide {
      display: none;
    }
    .sellCard {
        background-image: url("/assets/images/pythonbooks_la.png");
        background-size: 70% 80%;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
    }
    .sellCard > * {
        margin-left: 95px;
    }
    .col-sm-8 {
        background-image: url("/assets/images/pythonbooks_la.png");
        background-size: 50% 100%;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
    }
}

#content, #postings, #details {
    width: 80%;
    margin: 10px auto;
    padding: 15px;
    border: solid 1px gray;
    border-radius: 10px;
    box-shadow: 5px 5px 20px gray;
    background-color: white;
}

.loginCard, .registerCard {
    margin: 10px auto;
    padding: 15px;
    border: solid 1px gray;
    border-radius: 10px;
    box-shadow: 5px 5px 20px gray;
    background-color: white;
    background-image: url("/assets/images/pythonbooks_la.png");
    background-size: 60% 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.loginCard {
    width: 300px;
}

.registerCard {
    width: 400px;
}

.postTitle {
    font-size: 16px;
}

h1, .postTitle {
    font-weight: bold;
}

#amazon {
    margin-top: 10px;
}

#amazonLogo {
    width: 145px;
    height: 70px;
}

#isbn {
    margin-bottom: 10px;
}

hr {
    border-color: lightgray;
}

.form-control {
    width: 200px;
    margin-bottom: 15px;
}

.btn{
    background-color: #800000;
    border: none;
}

.btn:hover{
    background-color: #000080;
    border: none;
    font-weight: bold;
}

th {
    padding-right: 50px;
}

.padTop20 {
    padding-top: 20px;
}
.error{
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF
}

