<!DOCTYPE html>
<html>
<head>
	<title></title>

	<% include ../partials/head %>
</head>
<body>

  	<% include ../partials/header %>
	  
	<div class="jumbotron">
		<div class="row">
			<div class="col-sm-4 shrinkHide">
				<img id="logo" src="/assets/images/pythonbooks_cl.png" alt="logo">
			</div>
			<div class="col-sm-8">
				<h1><span id="maroon">P</span>ython<span id="navy">B</span>ooks</h1>
				<h3>Squeezing the life outta your books</h3>
				<% if(req == null) { %>
				<hr>
				<h3>Please log in to get started!</h3>
				<% } %>
			</div>
		</div>
	</div>

	<div id = "searchDiv" align="center">
		<div class="card-body">
			<form action="/search" method="POST" name="searchform" >
				<br /> <br />

				<input id="isbnSearch" type="text"  placeholder="search ISBN here" name="searchterms" class="form-control">
				<button class="btn btn-primary btn-md">Search</button>
				<!-- <input type="submit" name="SearchSubmit" value="Search"> -->

				<!-- row to make neater. This row makes the radio buttons 
					under the search bar-->
				<!-- <div class="row">
					<form>
						<label class="radio-inline">
							<input type="radio" name="optradio" checked>CRN
						</label>
						<label class="radio-inline">
							<input type="radio" name="optradio">Course
						</label>
						<label class="radio-inline">
							<input type="radio" name="optradio">Book Name
						</label>
						<label class="radio-inline">
							<input type="radio" name="optradio" checked>ISBN
						</label>
					</form>
				</div> -->
			</form>
		</div>
	</div>
<!-- 	<div  id = "loginDiv" >
		<form method="POST" action="/login">
			<input type="text" name="email" placeholder="Enter Your Email">
			<input type="password" name="password_hash" placeholder="Enter Your Password">
			
			<button>submit</button>
		</form>	
	</div> -->
</div>

<% include ../partials/footer %>


</body>
</html>