<!DOCTYPE html>
<html>
<head>
	<title></title>
<% include ../partials/head %>
</head>
<body>
 <% include ../partials/header %>
                   

<h1>Login</h1>
<form method="POST" action="/login">
	<input type="text" name="email" placeholder="Enter Your Email">
	<input type="password" name="password" placeholder="Enter Your Password">
	
	<button>submit</button>
</form>	

<% include ../partials/footer %>
</body>
</html>