<!DOCTYPE html>
<html>
<head>
	<title></title>
<% include ../partials/head %>
</head>
<body>
 <% include ../partials/header %>
                   
<div id="content" class="card" align="center">
	<h1>Login</h1>

	<!-- We check if there's a next route when rendered to this page. If there is "next route",
	then just do normal login. If we want to generalize redirecting back to pages, we can just use action = login/ nextRoute -->
	<% if(typeof nextRoute != 'undefined') { %>
		<form method="POST" action="/login/<%=nextRoute%>/<%=isbn%>">
	<% } else { %>
		<form method="POST" action="/login">
	<% } %>
		<input type="text" name="email" placeholder="Enter Your Email" class="form-control">
		<input type="password" name="password" placeholder="Enter Your Password" class="form-control">
		
		<button class="btn btn-primary btn-md">submit</button>
	</form>	
</div>
<% include ../partials/footer %>
</body>
</html>