<!DOCTYPE html>
<html>
<head>
	<title></title>
<% include ../partials/head %>
</head>
<body>
 <% include ../partials/header %>
                   
<div class="card loginCard" align="center">
	<h1>Login</h1>

	<!-- We check if there's a next route when rendered to this page. If there is "next route",
	then just do normal login. If we want to generalize redirecting back to pages, we can just use action = login/ nextRoute -->
<% if(typeof nextRoute != 'undefined') { %>
	<form method="POST" action="/login/<%=nextRoute%>/<%=isbn%>">
<% } else { %>
	<form method="POST" action="/login">
<% } %>
		<input type="text" name="email" placeholder="Enter Your Email" class="form-control">
		<input type="password" name="password" placeholder="Enter Your Password" class="form-control">
		
		<button class="btn btn-primary btn-md">submit</button>
	</form>	

<% if(typeof error != 'undefined') { %>
	<div class="modal-content">
<% } else { %>
	<div class="modal-content" style="display: none;">
<% } %>
		<div class="modal-content">
		  <div class="modal-header">
		    <span class="close">&times;</span>
		    <h2>Modal Header</h2>
		  </div>
		  <div class="modal-body">
		    <p>Some text in the Modal Body</p>
		    <p>Some other text...</p>
		  </div>
		  <div class="modal-footer">
		    <h3>Modal Footer</h3>
		  </div>
		</div>
	</div>
</div>
<% include ../partials/footer %>
<script type="text/javascript" src="/assets/javascript/error.js"></script>
</body>
</html>