<!DOCTYPE html>
<html>
<head>
	<title></title>
<% include ../partials/head %>
</head>
<body>
 <% include ../partials/header %>
                   <ul class="nav navbar-nav navbar-right">
                <% if(req != null) { %>
                  <li class=""><a href="/logout">Logout</a></li>
                <% } else if(req == null) { %>
                  <li class=""><a href="/loginPage">Login</a></li>
                  <li class=""><a href="/registerPage">Register</a></li>
                <% } %>
            </ul>
        </div>
  <!--/.nav-collapse -->
    </div>
<!--/.container-fluid -->
  </nav>

<h1 align="center">You have logged out</h1>

<% include ../partials/footer %>
</body>
</html>