<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>

</head>
<body>
    <% include ../partials/header %>

  	<div class="panel panel-default">
	<div class="panel-body">Description information will go here</div>
  	</div>

  	<!-- drop down menu -->
	<div class="dropdown">
	    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
	    <span class="caret"></span></button>

	    <ul class="dropdown-menu">
	      	<li><a href="">Sort By Date</a></li>
	      	<li><a href="">Sort By Price</a></li>
	      	<li><a href="">Sort By Views</a></li>
	    </ul>
	</div>
    
    <% include ../partials/footer %>
    <script type="text/javascript" src="/assets/javascript/search.js"></script>
</body>
</html>
