<!DOCTYPE html>
<html>
<head>
	<title></title>
<% include ../partials/head %>
</head>
<body>
<% include ../partials/header %>

<div class="card registerCard" align="center">
	<h1>Register</h1>
	<form method="POST" action="/register">
		<input type="text" name="name" placeholder="Enter Name" class="form-control">
		<input type="text" name="email" placeholder="Enter Your Email" class="form-control">
		<input type="text" name="username" placeholder="Enter Your Full Name" class="form-control">
		<input type="password" name="password" placeholder="Enter Your Password" class="form-control">
		
		<button class="btn btn-primary btn-md">submit</button>
	</form>
<% include ../partials/error %>
</div>
<% include ../partials/footer %>
</body>
</html>