<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>

</head>
<body>
    <% include ../partials/header %>
    <div id="content"></div>
    
    <% include ../partials/footer %>
    <script type="text/javascript" src="/assets/javascript/search.js"></script>
</body>
</html>