<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>

</head>
<body>
    <% include ../partials/header %>
                    

    <div id="content">
        <p class="postTitle" id="searchTerm" searchTerm="<%= searchTerm %>">You have searched for title(s) that include: <%= searchTerm %></p>
    </div>
    
    <% include ../partials/footer %>
    <script type="text/javascript" src="/assets/javascript/intermediate.js"></script>
</body>
</html>