<!DOCTYPE html>
<html>
<head>
	<title></title>

	<% include ../partials/head %>
</head>
<body>

<% include ../partials/header %>

  <div class="container">
    <div class="jumbotron">
      <h1>Python Books</h1>
      <h3>Squeezing the life outta your books</h3>
      <hr>
      <a href="/"><button class="btn btn-danger btn-lg"><span class="fa fa-eye"></span> View Books</button></a>
    </div>
    <div class="row">

      <div class="col-12">

        <div class="card">
          <div class="card-header">
            <h3><strong>Add Book</strong></h3>
          </div>
          <div class="card-body">

            <!-- hit the create route once form is complete -->
            <form method="POST" action="/create" role="form">
              <div class="form-group">
                <label for="role" >ISBN</label>
                <input type="text" class="form-control" name="isbn" id="role">
              </div>

              <div class="form-group">
                  <label for="age">Condition</label>

                  <div class="dropdown">
<!--                     <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Dropdown button
                    </button> -->
<!--                     <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" name = "book_condition">Used</a>
                      <a class="dropdown-item" name = "book_condition">Fair</a>
                      <a class="dropdown-item" name = "book_condition">New</a>

                    </div> -->
                    <input type="" name="book_condition">
                  </div>
              </div>

              <div class="form-group">
                <label>Price</label>
                <input type="text" class="form-control" name="price">
              </div>

              <button type="submit" class="btn btn-primary btn-md" id="add-btn"><span class="fa fa-fire"></span> Sell</button>

            </form>
            <br>
            
          </div>
        </div>
      </div>
    </div>
  </div>

<% include ../partials/footer %>


</body>
</html>


<!-- 
  <form method="POST" action="/create">
    <input type="number" name="price" placeholder="Enter Your Price">
    <input type="number" name="ISBN" placeholder="Enter the ISBN">
    <button>submit</button>
  </form> -->





