<!DOCTYPE html>
<html>
<head>
	<title></title>

	<% include ../partials/head %>
</head>
<body>

<% include ../partials/header %>


<% if (req != null ) { %>
  <div class="container">
    <div class="jumbotron">
      <h1>Python Books</h1>
      <h3>Squeezing the life out of books</h3>
      <hr>
      <a href="/"><button class="btn btn-danger btn-lg"><span class="fa fa-eye"></span> View Books</button></a>
    </div>
    <div class="row">

      <div class="col-12">

        <div class="card">
          <div class="card-header">
            <h3><strong>Add Book</strong></h3>
          </div>
          <div class="card-body">

            <!-- hit the create route once form is complete -->
            <form name="sellForm" method="POST" action="/create" role="form" onsubmit="return formValidation()">
              <div class="form-group">
                <label for="role" >ISBN</label>
                <input type="number" size=14 class="form-control" name="isbn" id="role"  required
               placeholder="input the 10-14 digit ISBN number"/>
              </div>

              <div class="form-group">
                  <label for="age">Condition</label>
									<br>
										<input type="radio" name="book_condition" value="Very Used"> Very Used<br>
									   <input type="radio" name="book_condition" value="Lightly Used"> Lightly Used<br>
									   <input type="radio" name="book_condition" value="Like New"> Like New
                  </div>
              </div>

              <div class="form-group">
                <label>Price</label>
                <input type="number" class="form-control" name="price" required
								placeholder="input whole dollar price">
              </div>

              <button type="submit" class="btn btn-primary btn-md" id="add-btn">
								<span class="fa fa-fire"></span> Sell</button>

            </form>
            <br>

          </div>
        </div>
      </div>
    </div>
  </div>

	<script>

	//function to validate the form's ISBN number input and ensure it's between 10-14 digits.
function formValidation(){
    var isbn = document.forms["sellForm"]["isbn"];

		if(isbn.value.length >= 10 && isbn.value.length <= 14) {
		 return true;
		 // console.log(isbn);
	 } else {
		 alert("Please input a 10-14 digit ISBN number");
		 isbn.focus();
		 return false;
		 // console.log(isbn);
	 }
 }

</script>


<% } else { %>
  <h1>You must login before you can Sell</h1>
  <form method="POST" action="/login">
    <input type="text" name="email" placeholder="Enter Your Email">
    <input type="password" name="password" placeholder="Enter Your Password">

    <button>submit</button>
  </form>

  <h1>Don't have an account with us? Register here!</h1>

  <form method="POST" action="/register">
    <input type="text" name="name" placeholder="Enter Name">
    <input type="text" name="email" placeholder="Enter Your Email">
    <input type="text" name="username" placeholder="Enter Your Full Name">
    <input type="password" name="password" placeholder="Enter Your Password">

    <button>submit</button>
  </form>
<% } %>

<% include ../partials/footer %>


</body>
</html>
